<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Panel de Administración</title>
</head>
<body>
<div id="encuestas">
    <p th:if="${#lists.isEmpty(encuestas)}">No hay encuestas</p>
    <h1>Listado de encuestas :</h1>

    <div th:each="encuesta: ${encuestas}">
        <h2 th:text="${'Huesped: ' + encuesta.nombre + ' ' + encuesta.apellido1 + ' ' + encuesta.apellido2}"> </h2><br>
        <span th:text="${'Fecha inicio de la estancia: ' + encuesta.fechaInicioVisita}"></span><br>
        <span th:text="${'Nivel de satisfación general: ' + encuesta.nivelSatisfacion}"></span></br>

        <a th:href="@{/encuesta/eliminar/{id}(id=${encuesta.id})}">borrar</a>
        <a th:href="@{/encuesta/editar/{id}(id=${encuesta.id})}">editar</a>
        <a th:href="@{/encuesta/seleccionar/{id}(id=${encuesta.id})}">ver</a>

    </div>
    <br>


</div>
</body>
</html>